// Высота внутреннего контейнера хедера.
$headerContentHeight: 60px;
// Должна быть не меньше 60px.
$headerContentMinHeight: 60px;

// основные цвета сайта
$grey: #727272;
$darkgrey: #414141;
$lightgrey: #f6f6f6;
$blue: #33c1e3;
$red: #e85f61;

@import "./layout/_normalize.scss";
@import "./layout/_common.scss";
@import "./layout/_fonts.scss";
@import "./layout/_font-awesome.scss";
@import "./sections/_header.scss";
