html, body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    font-family: 'fira_sansregular', Verdana;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

// Для вертикального выравнивание inline-block
.inline-block-va {
    display: inline-block;
    vertical-align: middle;
    margin-left: -0.35em;
}

ul, li, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}